html{
    background-color: #212529;
}

body {
    height: 95vh;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.login{
    border: 1px solid #07ABD9;
    border-radius: 4px;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button[type="submit"]{
    width: 10em;
}