@font-face {
    font-family: "poppins";
    src: url("./Poppins-Medium.ttf")
}

*{
  transition: all 0.5s ease-in-out;
  font-family: "poppins";
}

.navImg:nth-of-type(1){
    filter: grayscale(100%);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
}

.estrelasImg{
    width: 100px;
    margin: 0px 0px;
}

#main{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginDiv{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    padding: 100px 23px;
    width: 650px;
}
#loginDiv{
    #loginLogo{
        width: 250px;
    }
    #loginTitle{
        font-size: 30px;
        margin: 30px 0px 10px 0px;
        font-weight: bold;
    }
    #loginForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 23px;
    }
    #loginForm{
        .loginInput{
            width: 100%;
            height: 40px;
            border: 1px solid #000;
            border-radius: 5px;
            margin: 10px 0px;
            padding: 0px 10px;
            box-sizing: border-box;
            font-size: 1rem;
        }
        #loginBtn{
            width: 70%;
            background-color: #1925cc;
            color: #fff;
            border: 0px;
            font-size: 1.3rem;
            border-radius: 5px;
            padding: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        #loginBtn:hover{
            background-color: #7880e4;
        }
    }
}

@media only screen and (max-width: 750px) {
    #loginDiv{
        width:80%;
    }
    #loginDiv{
        #loginLogo{
            width: 70%;
        }
        #loginTitle{
            font-size: 20px;
            margin: 30px 0px 10px 0px;
            font-weight: bold;
        }

        #loginSpan{
            text-align: center;
        }
        
    }
}
